*{
    margin: 0px;
    padding: 0 px;
    font-family: 'Redressed', cursive;
}
html{
    scroll-behavior: smooth;
}
/* navigation */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 65px;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;

}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#logo img{
    height: 50px;
    width: 50px;

}
#item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    list-style: none;
    
}
#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 5px;
    /* border: 1px solid red; */
    border-radius: 20px;
}
#navbar ul li a:hover {
    background-color:white;
    color: black;
   
}
/* home */
#home::before{
    content: "";
    background: url(/bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    height: 327px;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;
}
#home{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h1{
    color: white;
    font-size: 2.8rem;
    padding: 20px; 

}
#home p{
    color: white;
    font-size: 1rem;
    padding:2px;
}
/* Our Services */
#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 43px;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #273314;
    border-radius: 20px;
    margin: 15px;
    background-color: #da969666;
}

.box img{
    height: 105px;
    width: 158px;
    margin-top: 25px;
}
/* Our Clients */
#clients::before{
    content: "";
    background: url(/bg.jpg) no-repeat center center/cover;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.client-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-list img{
    height: 115px;
    width: 140px;
    padding: 8px 33px;
}
/* Contact Us */
#contact-us::before{
    content: "";
    background: url(/contact.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 636px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
#contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control{
    margin: 7px;
    padding: 0px;
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid black;
}
#contact-box label{
    font-size: 1.5rem;
}
/* footer */
#footer{
    margin-top: 5px;
    display: flex;
    height: 40px;
    width: 100vw;
    background-color: #1b2127;
    color: white;
    justify-content: center;
    align-items:center;
    padding: 3px;
}

/* general */
.btn{
    color: black;
    padding: 10px;
    margin-top: 10px;
    background-color: #9a8187b8;
    border-radius: 17px;
    font-size: 1.3rem;
    cursor: pointer;
    border: 2px solid #bf9393;
   
}
.h1-primary{
    color: rgb(0, 0, 0);
    font-size:1.8rem;
    padding: 20px;
}
.h2-primary{
    color:black;
    font-size: 1.5rem;
    padding: 6px;
    margin: 10px;
}
.para{
    color: black;
    font-size: 1rem;
    text-align: center;
    padding: 0px 12px;
    padding-bottom: 20px;

}
input , textarea:focus{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}